#col2 {
background: #CCCCCC;
height :1000px;
margin-left:50px;
margin-top: 30px;
float:center;
}

#col1 {
float:left;
height :500px; 
width: 125px;
background-color:#11B637;
border: 1px solid green;
margin-right: auto;
padding-left: 3px;
margin-top: 30px;
}

#ut2{
width : 448px;
border: 1px solid black;
background:white;
margin-left: 1058px;
text-align: center;
}


footer{
float:bottom;
}

header{
background-color:#11B637;
margin-left: auto;
margin-right: auto;
height: 80px;
}

#logo {
width:80px; height:80px;
}

#rechercher{
width:500px; height:30px;
position: absolute;
margin-left: 135px;
margin-top: 25px; 
}

#pdp {
width:80px; height:80px;
margin-left: 820px;
}

#parametre {
width:80px; height:80px;
margin-left: 309.5px;
}

body{
background-color: #CCCCCC;
}

#center{
width : 350px;
float:center;
border: 1px solid green;
background: white;
margin-top: 25px;
margin-bottom: 10px;
margin-right: 150px;
margin-left: 170px;
}

#photo {
width: 30px; height: 30px;	
margin-left: 15px;
margin-bottom: 15px;
}

#video {
width: 30px; height: 30px;	
margin-bottom: 15px;
}

#text {
position:relative
float:center;  
}


#milieu{
margin:auto;
display:block;
}


nav{
margin-top : 15px;
}

#reglages {
width:100px; height:100px;
position: absolute;
margin-left: 80px;
}


